@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


.nav-bar{
    background-color: #F75700;
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* position: absolute; */
}
.nav-items{
    padding:0.9em 1em;
    font-weight: 500;
    height: 100%;
    
    margin: 0;
    /* border: 2px solid black; */
}
.carret{
    transform: rotate(180deg);
}
.nav-items:hover .carret{
    transform: rotate(0deg);

}
.nav-items:hover .dropDown{
    display: flex;
}
.dropDown{
    position: absolute;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;
    color: black;
    overflow: auto;
    background-color: white;
    border-radius: 4px;
    column-count: 2;
    column-gap: 0.5vw;

}
.dropDown .drop-down-items:hover{
    background-color: red;
    color: white ;
    padding-left: 5px;
}

.label_navlink {
    padding: 10px 20px 10px;
   color:black;
}
.small{
color: black;
}
.small:hover{
    color:white;
}