.group338
{
width:249px;
height:215px;
position:absolute;
}
.rectangle1992
{
width:249px;
height:215px;
background-color:#ffffff;
box-shadow:0px 0px 4px rgba(0, 0, 0, 0.029999999329447746);
}
.pmsssregistration2022-23
{
text-align:center;
vertical-align:text-top;
font-size:18.5px;
font-family:Roboto;
letter-spacing:5%;
line-height:35%;
color:#4f4f4f;
left:42px;
top:85px;
position:absolute;
}
.maskgroup
{
width:42.83185958862305px;
height:44px;
top:861px;
left:664px;
position:absolute;
}
.registration1
{
width:42.83185958862305px;
height:44px;
left:664px;
top:861px;
position:absolute;
}
.rectangle1993
{
width:54.902652740478516px;
height:53.73451232910156px;
background-color:#f75700;
top:857.49px;
left:656.6px;
position:absolute;
}
