.quickLinks{
    margin: 1vw auto;
    width: 80%;
    height: fit-content;
    background-color: white;  
    box-shadow: 0 0 20px rgba(247, 247, 247, 2);
    color: #02428C;
    border-radius: 5px;
    line-height: 40px;
}
.welcome{
    padding-bottom: 10vh;
}

.ql{
    padding: 16px;
    text-align: center;
    font-family: Roboto,sans-serif;
    list-style: none;
    text-align: left;
}
.ql-li{
    font-weight: 200;
    margin-bottom: 5px;
}
.ql-li a{
    text-decoration: none;
    color:black;
}
.ql-li a:hover{
    color: #F75700;
    font-weight: 400;
}
.head_ql{
    text-align: center;
    padding-top: 10px;
}
@media only screen and (max-width: 1200px) {
    .quickLinks{
        width: 70%;
    }
  }
@media only screen and (max-width: 900px) {
    .quickLinks{
        margin: auto;
        width: 60%;
        height: fit-content;
    }
  }