.quickLinks{
    margin: auto;
    width: 60%;
    height: fit-content;
    background-color: #02428C;
    color: white;
    border-radius: 5px;
}
.welcome{
    padding-bottom: 10vh;
}
.ql{
    padding: 16px;
    color: white;
    text-align: center;
    font-family: Roboto,sans-serif;
    list-style: none;
    text-align: left;
}
.ql-li{
    font-weight: 200;
    margin-bottom: 5px;
}
.head_ql{
    text-align: center;
    padding-top: 10px;
}
@media only screen and (max-width: 1200px) {
    .quickLinks{
        width: 70%;
    }
  }
@media only screen and (max-width: 900px) {
    .quickLinks{
        margin: auto;
        width: 60%;
        height: fit-content;
        background-color: #02428C;
    }
  }