a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
    
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

:root {
    --background:  #FEE6D9;
    --brand-color: #FF6F3C;
    --color: #202020;
    --color-smooth: #606060;
    --color-white: #F5F5F5;
    --blue: #2155CD;
    --blue-50: #2155CD80;
    --blue-hover: #396be2;
    --blue-hover-50: #396be280;
    --item-bg: #EEE;
    --item-border: #D6D6D6;
    --shadow: rgba(0, 0, 0, 0.1);
    --submit-shadow: rgba(33, 85, 205, 0.25);
}

* {
    font-family: Rubik,sans-serif
}

*,:after,:before {
    box-sizing: border-box
}

html {
    font-size: 16px
}

@media screen and (max-width: 768px) {
    html {
        font-size:15px
    }
}

@media screen and (max-width: 465px) {
    html {
        font-size:14px
    }
}

body {
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    background-color: var(--background)
}

.page-hero{
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.login-page{
    display: flex;
    justify-content: center;
}

.prewiev-hero{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem;
    background-color:  #FEE6D9;
}

.prewiev-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.form-hero{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
}

.form-head{
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.logo{
    width: 7rem;
    height: 7rem;
    padding: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-color);
    box-shadow: 0px 0px 20px var(--shadow);
}

.login-title{
    font-size: 2rem;
    font-weight: 600;
    color: var(--color);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    width: 400px;
    max-width: 90%;

}

.input-hero{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-hero input{
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0; 
    position: absolute;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color);
    border-radius: .5rem;
    border: .125rem solid var(--item-border);
    background: var(--background);
    padding: .5rem 3rem .5rem 1rem;
    transition: all .25s ease 0s;
}

.input-hero input:focus{
    border-color: var(--blue-50);
    outline: 0;
}

.input-name{
    left: 1rem;
    position: relative;
    display: block;
    background: var(--background);
    z-index: 2;
    transition: all .25s ease 0s;
    top: 0;
    color: var(--color-smooth);
}

.input-hero input:focus + .input-name{
    top: -1.25rem;
    color: var(--blue)
}

.input-hero input:valid + .input-name{
    top: -1.25rem;
}

.input-icon{
    position: relative;
    right: .5rem;
    z-index: 2;
    color: var(--color-smooth);
    transition: all .25s ease 0s;
}

.input-hero input:focus + .input-name + .input-icon{
    color: var(--blue)
}

.input-icon svg{
    vertical-align: middle;
    width: 1.875rem;
    height: 1.875rem;
}

.password-input{
    margin-bottom: 1.25rem;
}

.recovery-password{
    position: absolute;
    bottom: -1.15rem;
    right: 0;
    color: var(--blue)
}

.checkbox-hero{
    width: 100%;
    align-items: flex-start;
    color: var(--color-smooth);
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem
}

.checkbox-hero input{
    display: none;
}

.checkbox-cover{
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    background: var(--item-bg);
    border-radius: .5rem;
    border: .125rem solid var(--item-border);
    transition: all .25s ease 0s;
    cursor: pointer;
}

.checkbox-hero input:checked + .checkbox-cover{
    border-color: var(--blue);
    border-width: .4rem;
}

.submit-btn{
    width: 100%;
    height: 40px;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-white);
    border-radius: .5rem;
    transition: all .25s ease 0s;
    box-shadow: inset 1px 1px 3px var(--shadow);
    background: var(--blue);
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 4px 4px var(--submit-shadow);
    transition: all .25s ease 0s;
}

.submit-btn:hover{
    background: var(--blue-hover);
    border: 1px solid black;
}

.form-bottom{
    position: fixed;
    bottom: 1rem;
    color: var(--color-smooth);
    font-size: 1rem;
    font-weight: 500;
}

.form-bottom a{
    color: var(--blue)
}

@media screen and (max-width: 768px) {
    .prewiev-hero{
        display: none;
    }
    .form-hero{
        width: 100vw;
    }
}